@model EntityLayer.Concrete.Job
@{
    ViewData["Title"] = "UpdateJob";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}


<form method="post">
    @Html.Label("Müşteri Id")
    @Html.TextBoxFor(x => x.JobID, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.Label("Müşteri Adı")
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br />
    <button type="submit" class="btn btn-primary">Güncelle</button>
</form>


